<nav class="navbar navbar-fixed-top navbar-light bg-primary">
    <div class="container-fluid">
        <div class="navbar-text pull-left">
            <a class="nav-text" href="../user/profile.view.client.html">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
        </div>
        <div class="navbar-text pull-right">
            <a class="nav-text" href="website-new.view.client.html">
                <span class="glyphicon glyphicon-plus"></span>
            </a>
        </div>
        <div class="navbar-header">
            <a class="navbar-brand nav-text" href="#">
                Websites
            </a>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <ul class="list-group website-list">
        <li class="list-group-item">
            <a href="../page/page-list.view.client.html">
                Lorem Ipsum
            </a>
            <div class="pull-right">
                <a href="website-edit.view.client.html">
                    <span class="glyphicon glyphicon-cog pull-right"></span>
                </a>
            </div>
        </li>
        <li class="list-group-item">
            <a href="../page/page-list.view.client.html">
                NU Careers
            </a>
            <div class="pull-right">
                <a href="website-edit.view.client.html">
                    <span class="glyphicon glyphicon-cog pull-right"></span>
                </a>
            </div>
        </li>
        <li class="list-group-item">
            <a href="../page/page-list.view.client.html">
                myNeu
            </a>
            <div class="pull-right">
                <a href="website-edit.view.client.html">
                    <span class="glyphicon glyphicon-cog pull-right"></span>
                </a>
            </div>
        </li>
        <li class="list-group-item">
            <a href="../page/page-list.view.client.html">
                Google
            </a>
            <div class="pull-right">
                <a href="website-edit.view.client.html">
                    <span class="glyphicon glyphicon-cog pull-right"></span>
                </a>
            </div>
        </li>
        <li class="list-group-item">
            <a href="../page/page-list.view.client.html">
                CS5610
            </a>
            <div class="pull-right">
                <a href="website-edit.view.client.html">
                    <span class="glyphicon glyphicon-cog pull-right"></span>
                </a>
            </div>
        </li>
        <li class="list-group-item">
            <a href="../page/page-list.view.client.html">
                CS6140
            </a>
            <div class="pull-right">
                <a href="website-edit.view.client.html">
                    <span class="glyphicon glyphicon-cog pull-right"></span>
                </a>
            </div>
        </li>
    </ul>
</div>

<nav class="navbar navbar-light navbar-fixed-bottom bg-primary">
    <div class="container-fluid">
        <div class="navbar-text pull-right">
            <a class="nav-text" href="../user/profile.view.client.html">
                <span class="glyphicon glyphicon-user"></span>
            </a>
        </div>
    </div>
</nav>